.Button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.Button_footer{
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    background-color: transparent;
}

.Button_footer img{
    flex-direction: column;
    margin-bottom: 4px;
}

.Button_submit{
    display: flex;
    font-size: 18px;
    background-color: #BD2333;
    color: #ffffff;
    border-radius: 10px;
    width: 250px;
    height: 45px;
    margin: 20px 0px;
    padding: 8px 10px;
    justify-content: center;
}

.Button_cancel{
    display: flex;
    width: 250px;
    height: 45px;
    margin: 20px 0px;
    font-size: 18px;
    background-color: #ffffff;
    border: 1px solid #BD2333;
    border-radius: 10px;
    color: #BD2333;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
}

.Button_writing {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    padding: 8px 10px;
    font-size: 14px;
    background-color: rgb(236,236,236);
    cursor: pointer;
}

.Button_community {
    display: flex;
    align-items: center;
    background-color: #BD2333;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
    width: 300px;
    height: 30px;
    justify-content: center;
}

.Button_search {
    display: flex;
    align-items: center;
    background-color: #BD2333;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
    width: 150px;
    height: 30px;
    justify-content: center;
}

.Button_back {
    background-color: #ffffff;
    color: #BD2333;
    border: 1px solid #BD2333;
    font-size: 14px;
    border-radius: 5px;
    width: 80px;
    padding: 5px;
    justify-content: center;
    margin-top: 10px;
}

.Button_change {
    display: flex;
    justify-content: center;
    color: #BD2333;
    background-color: transparent;
    border: none;
    font-weight: 600;
    width: 130px;
    height: 20px;
    margin: 10px;
}

.Button_nickname {
    background-color: #BD2333;
    color: #ffffff;
}

.Button_detail{
    background-color: #BD2333;
    color: #fff;
    height: 35px;
    width: 70px;
    justify-content: center;
}