.PostDetail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


.PostDetail .title {
  margin-bottom: 20px;
}

.PostDetail .title h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.PostDetail .title p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}


.PostDetail .detail {
  padding: 2px;
  margin-bottom: 20px;
  border-bottom: 2px solid #eee ;
}

.PostDetail .detail p {
  margin: 6px 0;
  font-size: 1rem;
}

.PostDetail .detail img {
  display: block;
  margin-top: 10px;
  border-radius: 8px;
}


.PostDetail .postDetail {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.PostDetail .postDetail button {
  padding: 8px 14px;
  font-size: 0.9rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.PostDetail .postDetail button:hover {
  opacity: 0.9;
}

.PostDetail section {
  margin-top: 40px;
}

.PostDetail textarea {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  resize: vertical;
  font-size: 0.95rem;
}

.PostDetail textarea:focus {
  outline: none;
  border-color: #BD2333;
  box-shadow: 0 0 4px rgba(255, 152, 0, 0.3);
}

.PostDetail section button {
  background-color: #BD2333;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s ease;
}

.info {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.profile-image {
  width: 40px;      
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nickname {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.created-date {
  font-size: 12px;
  color: #888;
  margin: 2px 0 0 0;
}
